form .form-control {
    margin-bottom: 15px;
}

.card {
    div.card-header {
        font-size: 22px;
    }
}

.table {
    > :not(:first-child) {
        border-top: none;
    }

    thead {
        background-color: #555;
        color: #f9f9f9;
    }
}

.pagination {
    margin: 0;

    p.small {
        margin: 0;
    }
}
