form .form-control {
  margin-bottom: 15px;
}

.card div.card-header {
  font-size: 22px;
}

.table > :not(:first-child) {
  border-top: none;
}
.table thead {
  background-color: #555;
  color: #f9f9f9;
}

.pagination {
  margin: 0;
}
.pagination p.small {
  margin: 0;
}
